.profile-component-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profile-feed-container {
    margin-right: 10px;
    justify-content: left;
    width: 63vw;
    max-width: calc(93vw - 250px);
}

.profile-panel-container {
    margin-left: 10px;
    width: 30vw;
    min-width: 250px;
}